<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>52豆豆</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <style>
        img{
            border:0;
            vertical-align: middle;
        }
        ul,ol{
            list-style:none;
        }
        a{
            color:#ccc;
            text-decoration:none;
        }
        body,ul,ol,dl,dt,dd,p,h1,h2,h3,h4,h5,h6{
            margin:0;
            padding:0;
        }
    </style>
</head>
<body>
    <div id="wrap">
        <form action="http://localhost:5632/list" method="post">
            用户名：<input type="text" name="user">
            密码：<input type="password" name="pwd">
            <input type="submit">
        </form>
    </div>
    <script>

    </script>
</body>
</html>